
.table{
    border="2"
align="center"
rules="rows"
style="width:60%;">
}
.menu-list{
    display: flex;
    list-style-type: none;
       }
 
    .menu-item:not(:last-child) {
     margin-right: 70px;
     }
 
     .menu-item a {
         text-decoration: none;
         color: rgb(8, 7, 6);
     }
 
     .active {
         font-weight: bold;
     }
 
     .main-text {
         font-weight: 700;
         font-size: 53px;
         line-height: 50px;
     }
 
     .quote {
         font-weight: 400;
         font-size: 18px;
         line-height: 21px;
         margin-left: 0;
         opacity: 0.7;
     }
 
     .bitton-order{
         all:unset;
         padding: 22px 55px;
         background: rgb(3, 2, 1);
         border-radius: 5px;
         color: rgb(10, 8, 5);
         font-weight: 500;
         font-size: 16px;
         line-height: 19px;
 
     }
 
     .main {
         background-color: #d4c4ff;
     width: 100vw;
     color: #fff;
    }
    @keyframes myAnim {
     from {
       margin-left: 700;
     }
     to {
       margin-left: 500px;
     }
    }
    
    .main-text {  
       animation: myAnim 20s linear alternate infinite;
     }
     #callback {
         width: 300px;
         height: 150px;
         background-color: rgb(0, 0, 0);
         position: absolute;
         bottom: 30px;
     }


h1,h2,h3,h4 {
    margin: 0;
    position: relative
}

h1 a:hover {
    text-decoration: none
}

h3 a:hover {
    text-decoration: none
}

